<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="example.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  
     <form  name="myform" class="form form-horizontal" novalidate>

    <h1 align="center"><u><b>Log In Form</b></u></h1>

	<div class='container-fluid'>
		<label>E-mail : </label>
		
		<input type='email' required placeholder="abc@xyz.com" class="form-control">
		</div>
    <div class="control-group" ng-controller="validateCtrl" ng-class="{error:!myform.username.$valid}">
	<div class='container-fluid'>
        <label for="inputUsername">First Name :</label>

        <div class="controls">
            <input type="text" id="inputUsername" name="username" ng-model="username" valid-username class="form-control" />
            <div class="help-inline">
                <span ng-show="!!myform.username.$error.isBlank">First name Required.</span>
				<span ng-show="!!myform.username.$error.invalidChars">First name must contain letters &amp; spaces only.</span>
                <span ng-show="!!myform.username.$error.invalidLen">First name must be 3-20 characters.</span>
            </div>
        </div>
		</div>
    </div>
	    <div class='container-fluid'>
			  <label>Middle Name :  </label>
			  <input type="text" class="form-control">			  
			 		  
           <label>Last Name :  </label>		   
		   <input type="text" class="form-control">
		   </div>
		   		   
           <div ng-controller="DatepickerDemoCtrl" class='container-fluid'>
    <label>Your birth date is : <em>{{dt | date:'fullDate' }}</em></label>
    <h4>D.O.B. : </h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
	
	<div class='container-fluid'>
      <label>Address : </label><input type="text" class="form-control">
       </div>
<div ng-controller="TypeaheadCtrl">     
    <label>Selected Place : {{asyncSelected | json}}</label>
    <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http (please type your city)" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
</div>
<br />

		<label>Pincode </label> <input type='number' ng-maxlength="6" class="form-control">
		
        <label>Mobile Number  </label><input type="number" ng-maxlength="10" class="form-control">
	
		<label>Language  </label><input type="text" placeholder="English" class="form-control">
		</div>
		<div class="control-group" ng-class="{error:!myform.password.$valid}">
		<div class='container-fluid'>
        <label for="inputPassword" class="control-label">Password :</label>
        <div class="controls">
            <input type="text" id="inputPassword" name="password" ng-model="password" valid-password class="form-control" />
            <div class="help-inline">
                <span ng-show="!!myform.password.$error.isBlank">Password Required.</span>
                <span ng-show="!!myform.password.$error.isWeak">Must contain one upper &amp; lower case letter and a non-letter (number or symbol.)</span> 
                <span ng-show="!!myform.password.$error.invalidLen">Must be 8-20 characters.</span>
            </div>
        </div>
    </div>
	</div>
    <div class="control-group" ng-controller="validateCtrl" ng-class="{error:!myform.password_c.$valid}">
	<div class='container-fluid'>
        <label for="password_c" class="control-label">Confirm Password:</label>
        <div class="controls">
            <input type="text" id="password_c" name="password_c" ng-model="password_c" valid-password-c class="form-control" />
            <div class="help-inline"> 
                <span ng-show="!!myform.password_c.$error.isBlank">Confirmation Required.</span>
                <span ng-show="!!myform.password_c.$error.noMatch">Passwords don't match.</span>
            </div>
			</div>
        </div>
    </div>
    <div class='container-fluid'>
	 <div ng-init="options={};options.one.selected=true">
    <input id="option_1" type="checkbox" 
        ng-click="options.one.selected=!options.one.selected"
        ng-checked="options.one.selected"
        ng-model="options.one.selected"/>
    <label for="option_1" >Subscribe me for e-mail</label>
</div>
</div>
	  
	  <div class="form-actions" ng-controller="validateCtrl" ng-show="formAllGood()">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
    </form>  
       
		  
  </body>
</html>
